body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

.form--container {
	border: 1px solid gray;
	height: auto;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.form--heading {
	margin: 0;
	width: 100%;
	height: 60px;
	background-color: #715494;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	font-weight: bold;
}

.form--body {
	/* text-align: right; */
	padding: 20px;
}

.form--field {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-gap: 16px;
	padding: 10px;
}

.form--field > label {
	text-align: right;
}

textarea {
	height: 4em;
	resize: none;
}

.form--submit-button {
	text-align: center;

}